<%= form_for @person, :html => { :class => "form-horizontal person" } do |f| %>

    <% if @person.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@person[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :favorite_color, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :favorite_color, :class => 'form-control' %>
    </div>
    <%= error_span(@person[:favorite_color]) %>
  </div>


  <div class="panel-heading">
    <h3>Cursos</h3>
  </div>
  <fieldset id="person-courses">
    <%= f.fields_for :person_courses do |person_course| %>
      <%= render 'person_course_fields', f: person_course %>
    <% end %>
  </fieldset>


  <div class="btn-group">
    <%= link_to_add_fields "Add course", f, :person_courses, class: "btn btn-default"  %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              people_path, :class => 'btn btn-default' %>
  </div>

<% end %>
